#jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2.375rem;
    margin-right: 2.375rem;
}
#editar{
    padding-left: 20%;
    margin-bottom: 10px;
}
#nome {
    font-weight: bold;
    margin-left: 2.375rem;
}
p{
    padding-left: 10px;
}

img{
    float: right;
}
#img-vaga{
    height: 55px;
    width: 55px;
    background-color: black;
    border-radius: 30%;
    text-align: center;
    
}